<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{appConstants.ROOT_PAGE}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{(appConstants.beta?"BETA ":"")}}{{translateUtil.translateKey('Provider Members')}}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="start" (click)="toggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <!--<ion-button slot="start" (click)="onClearSearch()">-->
        <!--<ion-icon name="close"></ion-icon>-->
      <!--</ion-button>-->
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [hidden]="!showSearchBar">
    <ion-searchbar #search class="searchBar" [(ngModel)]="searchKey" (ionChange)="getItems($event)" debounce="500" showCancelButton="always" (ionCancel)="onClearSearch()"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngFor="let member of members" class="listContent">
    <ion-item *ngIf="!member.hide" (click)="onViewDetails($event, member?.id)" detail>
      <ion-text ><h5 [innerHtml]="utils.highlightSearch(member?.userName, searchKey)"></h5></ion-text>
    </ion-item>
  </ion-list>
  <div class="scroll-content"></div>

  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">-->
  <!--<ion-infinite-scroll-content></ion-infinite-scroll-content>-->
  <!--</ion-infinite-scroll>-->

  <!--Fav buttons -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="orange" (click)="openMenu()">
      {{translateUtil.translateKey("Menu")}}
    </ion-fab-button>
  </ion-fab>
  
  <!--<ion-fab *ngIf="toWaitScroll" bottom left>-->
    <!--<button ion-fab class="fabButton2" (click)="onScrollUp()"><ion-icon name="arrow-up"></ion-icon></button>-->
  <!--</ion-fab>-->
</ion-content>
