.selected-img {
  box-shadow: 1px 1px 3px #343434
}
#file-chooser {
  width: 100%;
  padding: 6px;
  position: absolute;
  opacity: 0;
}
.delete-img {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #f74c4c;
  background: rgba(128, 128, 128, .4);
}