<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{appConstants.ROOT_PAGE}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{(appConstants.beta?"BETA ":"")}}{{translateUtil.translateKey('Member Details')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="listContent">
    <ion-list class="listContent">
      <ion-list-header color="secondary" class="listHeader">
        {{translateUtil.translateKey('ID')}}: {{(member)?.id}}
      </ion-list-header>
      <ion-item >
        <ion-label>
          <ion-text>
            <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('User Name')}}</h2>
          </ion-text>
          <ion-text>{{(member)?.userName}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <ion-text>
            <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('Provider Name')}}</h2>
          </ion-text>
          <ion-text>{{(member)?.providerName}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <ion-text>
            <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('Provider Member Type')}}</h2>
          </ion-text>
          <ion-text>{{(member)?.providerMemberTypeName}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <ion-text>
            <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('START_TIME')}}</h2>
          </ion-text>
          <ion-text>{{utils.formatDate((member)?.startDate)}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <ion-text>
            <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('End Time')}}</h2>
          </ion-text>
          <ion-text>{{utils.formatDate((member)?.expireDate)}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <ion-text>
            <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('Payment status')}}</h2>
          </ion-text>
          <ion-text>{{(member)?.paymentStatusName}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <ion-text>
            <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('Activated')}}</h2>
          </ion-text>
          <ion-text>{{l_getYesNo((member)?.activated)}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <ion-text>
            <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('DESCRIPTION')}}</h2>
          </ion-text>
          <ion-text>{{(member)?.description}}</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="scroll-content"></div>

  <!--Fav buttons -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="orange" (click)="openMenu()">
      {{translateUtil.translateKey("Menu")}}
    </ion-fab-button>
  </ion-fab>
</ion-content>
