<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{appConstants.ROOT_PAGE}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{(appConstants.beta?"BETA ":"")}}{{translateUtil.translateKey('Provider PriceUnits')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="listContent">
    <ion-item *ngFor="let priceUnit of priceUnits" (click)="onViewDetails($event, priceUnit?.id)">
      <ion-label>
        <ion-text>{{priceUnit?.title}}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="scroll-content"></div>

  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">-->
  <!--<ion-infinite-scroll-content></ion-infinite-scroll-content>-->
  <!--</ion-infinite-scroll>-->

  <!--Fav buttons -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="orange" (click)="openMenu()">
      {{translateUtil.translateKey("Menu")}}
    </ion-fab-button>
  </ion-fab>
</ion-content>
