<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{appConstants.ROOT_PAGE}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{(appConstants.beta?"BETA ":"")}}{{translateUtil.translateKey('Membership Types')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="listContent">
    <ion-item-sliding *ngFor="let membership of memberships">
      <ion-item (click)="onViewDetails(membership?.id)" style="padding-left: 5px !important;" detail>
        <div>
          <ion-row align-items-center>
            <ion-col class="eventsCol">
              <ion-row>
                <ion-col class="eventsCol" [ngClass]="{'disabled' : !membership.activated}">{{membership?.name}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <div class="scroll-content"></div>

  <!--Fav buttons -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="orange" (click)="openMenu()">
      {{translateUtil.translateKey("Menu")}}
    </ion-fab-button>
  </ion-fab>
</ion-content>
