<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{appConstants.ROOT_PAGE}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{(appConstants.beta?"BETA ":"")}}{{translateUtil.translateKey('PROFILE_EDIT')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="listContent" *ngIf="user">
    <form #formRef="ngForm" (ngSubmit)="savePassword(formRef)">
      <ion-list-header color="secondary" text-capitalize="false" class="listHeader">{{user.userName}}</ion-list-header>
      <ion-item>
        <ion-label position="stacked">{{translateUtil.translateKey('CURRENT_PASSWORD')}}<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" [(ngModel)]="currentPassword" name="currentPass" required #currentPassCtl="ngModel"></ion-input>
        <ion-text align-self-start color="danger" *ngIf="currentPassCtl.errors?.required && submitted">{{translateUtil.translateKey('CURR_PASS_REQUIRED')}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{translateUtil.translateKey('PASSWORD')}}<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" [(ngModel)]="newPassword"  name="password" #password="ngModel" required
                   (ngModelChange)="resetError('passwordError')" minlength="2"></ion-input>
        <ion-text align-self-start color="danger" *ngIf="password.errors?.required && submitted">{{translateUtil.translateKey('PASSWORD')}} {{translateUtil.translateKey('REQUIRED')}}.</ion-text>
        <ion-text align-self-start color="danger" *ngIf="password.errors?.minlength && submitted">{{translateUtil.translateKey('MIN_2')}}</ion-text>
        <ion-text align-self-start color="danger" *ngIf="passwordError && submitted" text-wrap>{{passwordError}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{translateUtil.translateKey('CONFIRM_PASSWORD')}}<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" [(ngModel)]="confirmPass" name="confirmPass" required #confirmPassCtl="ngModel"
                   (ngModelChange)="checkConfirmPassword()" ></ion-input>
        <ion-text align-self-start color="danger" *ngIf="confirmPassCtl.errors?.required && submitted">{{translateUtil.translateKey('CONFIRM')}} {{translateUtil.translateKey('REQUIRED')}}</ion-text>
        <ion-text align-self-start color="danger" *ngIf="confirmPassError && submitted" text-wrap>{{confirmPassError}}</ion-text>
      </ion-item>
    </form>
  </div>
  <div class="scroll-content"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="orange" (click)="openMenu()">
      {{translateUtil.translateKey("Menu")}}
    </ion-fab-button>
  </ion-fab>
</ion-content>
